<!DOCTYPE html>
<html>
<head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
</head>
<body class="grid  home">
  
<div id="header">
  <div class="grid">
     <div class="logo-box col two">
        <h1 class="logo"><a href="home.html">Movit</a></h1>

     </div>


    <div class="nav-box col eight">
      <div class="inner">
        
        <ul class="user-navigation">
          <li class="home selected"><a href="home.html">Home</a></li>
          <li class="inbox empty ">
            <a href="inbox.html">Inbox</a>
          </li>
          <li class="contacts "><a href="contacts.html">Contacts</a></li>
          <li class="calendar"><a href="calendar.html">Calendar</a></li>
          <li class="tasks "><a href="tasks.html">Tasks</a></li>
        </ul>

        <div class="user">
          <a href="#" class="dropdown">

            <b>Other Options</b>
          </a>
          <ul class="user-options-navigation">
            <li><a href="https://podio.com/users/98507/edit">Account Settings</a></li>
            <li><a href="https://podio.com/-/store/own">My shared app</a></li>
            <li><a href="https://podio.com/-/organization/create" class="js-create-org">Create another organisation</a></li>
            <li><a href="https://podio.com/logout">Logout</a></li>

          </ul>
        </div>



      </div>
    </div>
  </div>
  
 {% block body %}{% endblock %}
 {% block javascripts %}{% endblock %}
</div>



</body>
</html>



