<!DOCTYPE html>
<html>
<head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %} 
 		
        {% endblock %}
</head>
<body class="grid  home">
<div id="header">
  <div class="grid">
     <div class="logo-box col two">
        <h1 class="logo"><a href="home.html">Movit</a></h1>

     </div>


    <div class="nav-box col eight">
      <div class="inner">
        
        <ul id='spaceList' class="user-navigation">
          <li class="home selected standardLink">
            <a href="http://conc.ealto.me/movit/app_dev.php/hello">
            <img class='iconSet1' src='/movit/bundles/movittest/images/cube.png'/>
            Quality Control</a>
          </li>
  

          <li class="inbox empty standardLink">
            <a href="inbox.html">
            <img class='iconSet1' src='/movit/bundles/movittest/images/phone.png'/>
            Sales
            </a>
          </li>
          
          <li class="contacts standardLink">
          <a href="contacts.html">
          <img class='iconSet1' src='/movit/bundles/movittest/images/flag.png'/>
          Maintenance
          </a>
          </li>
        </ul>

        <div class="user">
          <a href="#" class="dropdown">

            <b>Other Options</b>
          </a>
          <ul class="user-options-navigation">
            <li><a href="https://podio.com/users/98507/edit">Account Settings</a></li>
            <li><a href="https://podio.com/-/store/own">My shared app</a></li>
            <li><a href="https://podio.com/-/organization/create" class="js-create-org">Create another organisation</a></li>
            <li><a href="https://podio.com/logout">Logout</a></li>

          </ul>
        </div>



      </div>
    </div>
  </div>
  
 {% block body %}
 {% endblock %}
 {% block content %}
 {% endblock %}
 {% block javascripts %}
 {% endblock %}
</div>



</body>
</html>




